.selecteditem{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid rgb(223, 221, 221);
	border-radius: 8px;
	margin-bottom: 10px;
	cursor: pointer;
}

.selecteditem-img img{
	width: 30px;
	margin: 0 10px;
}

.selected-delete-btn{
	margin: 0 10px;
}