.question{
	background-color: rgb(32, 32, 32);
	padding: 20px 50px;
	color: white;
}

.question-title{
	text-align: center;
}

.qa{
	margin-bottom: 50px;
}
.qa-question{
	margin-bottom: 20px;
}

.qa-ans{
	text-align: justify;
}

.table {
	display: grid;
	grid-template-columns: 1fr 1fr;

}
.tr-props{
	border: 1px solid white;
	padding: 10px;
}
.tr-props h2{
	margin: 0;
	text-align: center;
}

.tr-state{
	border: 1px solid white;
	padding: 10px 20px;
}
.tr-state h2{
	margin: 0;
	text-align: center;
}
